.action-wrapper{
    display:flex;
}
.font-weight{
    font-weight: 400;
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767.98px) { 
    .action-wrapper{
        flex-direction: column;
    }
 }
 